# Machine Learning Portfolio Project

In [ ]:
#Imports and dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score, confusion_matrix, classification_report, precision_recall_curve
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
import numpy as np

In [ ]:
#Importing data set
dateset = "/content/drive/MyDrive/Loan.csv"
df = pd.read_csv(dateset)

In [ ]:
#dataset
df

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2072-09-29,44,30180,587,Employed,High School,19,24521,36,Married,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,2072-09-30,56,49246,567,Employed,Associate,33,25818,36,Married,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,2072-10-01,44,48958,645,Employed,Bachelor,20,37033,72,Married,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,2072-10-02,60,41025,560,Employed,High School,36,14760,72,Married,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,2072-10-03,20,53227,574,Employed,Associate,0,32055,48,Married,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

# Data Understanding and cleaning

In [ ]:
# Checking rows and columns
df.shape

(20000, 36)

In [ ]:
# Top 5 rows
df.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0

In [ ]:
# Top 5 columns
df.tail()

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
19995,2072-09-29,44,30180,587,Employed,High School,19,24521,36,Married,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,2072-09-30,56,49246,567,Employed,Associate,33,25818,36,Married,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,2072-10-01,44,48958,645,Employed,Bachelor,20,37033,72,Married,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,2072-10-02,60,41025,560,Employed,High School,36,14760,72,Married,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,2072-10-03,20,53227,574,Employed,Associate,0,32055,48,Married,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

In [ ]:
# Datatypes, null values and column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             20000 non-null  object
 1   Age                         20000 non-null  int64
 2   AnnualIncome                20000 non-null  int64
 3   CreditScore                 20000 non-null  int64
 4   EmploymentStatus            20000 non-null  object
 5   EducationLevel              20000 non-null  object
 6   Experience                  20000 non-null  int64
 7   LoanAmount                  20000 non-null  int64
 8   LoanDuration                20000 non-null  int64
 9   MaritalStatus               20000 non-null  object
 10  NumberOfDependents          20000 non-null  int64
 11  HomeOwnershipStatus         20000 non-null  object
 12  MonthlyDebtPayments         20000 non-null  int64
 13  CreditCardUtilizationRate   20000 non-null  float64
 14  NumberOfOpenCreditLines     20000 non-null  int64
 15  NumberOfCreditInquiries     20000 non-null  int64
 16  DebtToIncomeRatio           20000 non-null  float64
 17  BankruptcyHistory           20000 non-null  int64
 18  LoanPurpose                 20000 non-null  object
 19  PreviousLoanDefaults        20000 non-null  int64
 20  PaymentHistory              20000 non-null  int64
 21  LengthOfCreditHistory       20000 non-null  int64
 22  SavingsAccountBalance       20000 non-null  int64
 23  CheckingAccountBalance      20000 non-null  int64
 24  TotalAssets                 20000 non-null  int64
 25  TotalLiabilities            20000 non-null  int64
 26  MonthlyIncome               20000 non-null  float64
 27  UtilityBillsPaymentHistory  20000 non-null  float64
 28  JobTenure                   20000 non-null  int64
 29  NetWorth                    20000 non-null  int64
 30  BaseInterestRate            20000 non-null  float64
 31  InterestRate                20000 non-null  float64
 32  MonthlyLoanPayment          20000 non-null  float64
 33  TotalDebtToIncomeRatio      20000 non-null  float64
 34  LoanApproved                20000 non-null  int64
 35  RiskScore                   20000 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 5.5+ MB

In [ ]:
#Converting to datetime data type
df['ApplicationDate'] = pd.to_datetime(df['ApplicationDate'], errors='coerce')

In [ ]:
# Checking age column
df['Age'].describe()

count    20000.000000
mean        39.752600
std         11.622713
min         18.000000
25%         32.000000
50%         40.000000
75%         48.000000
max         80.000000
Name: Age, dtype: float64

In [ ]:
#Setting age limit
df = df[(df['Age'] >= 18) & (df['Age'] <= 75)]

In [ ]:
#Checking credit score
df['CreditScore'].describe()

count    19972.000000
mean       571.516773
std         50.947554
min        343.000000
25%        540.000000
50%        578.000000
75%        609.000000
max        707.000000
Name: CreditScore, dtype: float64

In [ ]:
#setting rule for credit score
df=df[
    df['CreditScore'] >= 343 &
    (df['CreditScore'] <= 707)
]

In [ ]:
#checking income and loan
df = df[df['AnnualIncome'] > 0]
df = df[df['LoanAmount'] > 0]
df = df[df['LoanDuration'] > 0]

In [ ]:
# Ratio should be between 0 and 1
df = df[
    (df['DebtToIncomeRatio'].between(0, 1)) &
    (df['TotalDebtToIncomeRatio'].between(0, 1)) &
    (df['CreditCardUtilizationRate'].between(0,1))
]

In [ ]:
#Checking missing values
df.isnull().sum().sort_values(ascending=False)

ApplicationDate               0
Age                           0
AnnualIncome                  0
CreditScore                   0
EmploymentStatus              0
EducationLevel                0
Experience                    0
LoanAmount                    0
LoanDuration                  0
MaritalStatus                 0
NumberOfDependents            0
HomeOwnershipStatus           0
MonthlyDebtPayments           0
CreditCardUtilizationRate     0
NumberOfOpenCreditLines       0
NumberOfCreditInquiries       0
DebtToIncomeRatio             0
BankruptcyHistory             0
LoanPurpose                   0
PreviousLoanDefaults          0
PaymentHistory                0
LengthOfCreditHistory         0
SavingsAccountBalance         0
CheckingAccountBalance        0
TotalAssets                   0
TotalLiabilities              0
MonthlyIncome                 0
UtilityBillsPaymentHistory    0
JobTenure                     0
NetWorth                      0
BaseInterestRate              0
InterestRate                  0
MonthlyLoanPayment            0
TotalDebtToIncomeRatio        0
LoanApproved                  0
RiskScore                     0
dtype: int64

In [ ]:
#Checking duplicates
df.duplicated().sum()

np.int64(0)

In [ ]:
#Checking logical consistencies
df[df['MonthlyLoanPayment'] <= df['MonthlyIncome']]

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2072-09-29,44,30180,587,Employed,High School,19,24521,36,Married,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,2072-09-30,56,49246,567,Employed,Associate,33,25818,36,Married,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,2072-10-01,44,48958,645,Employed,Bachelor,20,37033,72,Married,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,2072-10-02,60,41025,560,Employed,High School,36,14760,72,Married,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,2072-10-03,20,53227,574,Employed,Associate,0,32055,48,Married,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

# Exploratory Data Analysis

In [ ]:
#Checking loan approval rate
df['LoanApproved'].mean()

np.float64(0.25365594256846585)

In [ ]:
#Checking approval rate in employement status
df.groupby('EmploymentStatus')['LoanApproved'].mean().sort_values(ascending=False)

EmploymentStatus
Self-Employed    0.293880
Employed         0.254871
Unemployed       0.192956
Name: LoanApproved, dtype: float64

In [ ]:
#Checking approval rate in education status
df.groupby('EducationLevel')['LoanApproved'].mean().sort_values(ascending=False)

EducationLevel
Doctorate      0.453074
Master         0.365378
Bachelor       0.280237
Associate      0.217840
High School    0.156463
Name: LoanApproved, dtype: float64

In [ ]:
#Checking approval rate in home ownership status
df.groupby('HomeOwnershipStatus')['LoanApproved'].mean().sort_values(ascending=False)

HomeOwnershipStatus
Mortgage    0.266595
Own         0.265384
Rent        0.240522
Other       0.219641
Name: LoanApproved, dtype: float64

In [ ]:
# #Checking approval rate in loan purposes
df.groupby('LoanPurpose')['LoanApproved'].mean().sort_values(ascending=False)

LoanPurpose
Education             0.270078
Auto                  0.257225
Home                  0.252199
Debt Consolidation    0.249365
Other                 0.237037
Name: LoanApproved, dtype: float64

In [ ]:
# Key driver risk credit score
df['CreditScoreBand'] = pd.cut(
    df['CreditScore'],
    bins=[343, 450, 550, 650, 710],
    labels=['Poor','Fair','Good','Very Good'],
    include_lowest=True
)

In [ ]:
# Key driver risk debt to income ratio and total debt income
pd.qcut(df['TotalDebtToIncomeRatio'], q=4).to_frame('Debt-to-income Ratio')
df.groupby(pd.qcut(df['TotalDebtToIncomeRatio'], q=4))['LoanApproved'].mean()

/tmp/ipython-input-4289443768.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(pd.qcut(df['TotalDebtToIncomeRatio'], q=4))['LoanApproved'].mean()

TotalDebtToIncomeRatio
(0.015, 0.173]    0.692684
(0.173, 0.285]    0.254627
(0.285, 0.461]    0.059136
(0.461, 1.0]      0.008083
Name: LoanApproved, dtype: float64

In [ ]:
# Key driver risk previous and bankruptcy history

df.groupby('PreviousLoanDefaults')['LoanApproved'].mean()
df.groupby('BankruptcyHistory')['LoanApproved'].mean()

BankruptcyHistory
0    0.261138
1    0.118006
Name: LoanApproved, dtype: float64

In [ ]:
#Identifying high risk segment
high_risk = df[
    (df['CreditScore'] < 450) &
    (df['TotalDebtToIncomeRatio'] > 0.6) &
    (df['PreviousLoanDefaults'] > 0)
]
high_risk['LoanApproved'].mean(),len(high_risk)

(np.float64(0.0), 8)

# Modeling & Evaluation

In [ ]:
# Defining features and target
X = df.drop(columns=[
    'LoanApproved', 'RiskScore', 'InterestRate', 'MonthlyLoanPayment', 'ApplicationDate'
])

In [ ]:
#converting categorical to numerical columns
X = pd.get_dummies(X, drop_first=True)

In [ ]:
#converting boolean to numeric
for col in X.select_dtypes(include='bool').columns:
    X[col] = X[col].astype(int)

In [ ]:
#checking unique values
X.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

In [ ]:
y = df['LoanApproved']

# splitting 80/20
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [ ]:
#checking values
X.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

In [ ]:
#pipline with scaling
pipeline_knn = Pipeline([
    ('scaler', StandardScaler()),
    ('knn', KNeighborsClassifier(n_neighbors=5))
])

pipeline_knn.fit(X_train, y_train)
y_pred_knn = pipeline_knn.predict(X_test)
y_proba_knn = pipeline_knn.predict_proba(X_test)[:,1]

In [ ]:
#decision tree
dt = DecisionTreeClassifier(max_depth=5, random_state=42)
dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)
y_proba_dt = dt.predict_proba(X_test)[:,1]

In [ ]:
# random forest
rf = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=42)
rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)
y_proba_rf = rf.predict_proba(X_test)[:,1]

In [ ]:
#metrics for models
print("Roc-AUC:", roc_auc_score(y_test, y_proba_knn))
print(classification_report(y_test, y_pred_knn))
print("confusion_matrix:\n", confusion_matrix(y_test, y_pred_knn))

Roc-AUC: 0.8793137700821322
              precision    recall  f1-score   support

           0       0.87      0.95      0.91      2807
           1       0.79      0.58      0.67       954

    accuracy                           0.85      3761
   macro avg       0.83      0.76      0.79      3761
weighted avg       0.85      0.85      0.85      3761

confusion_matrix:
 [[2661  146]
 [ 405  549]]

# Model Interpretability

In [ ]:
# Coefficient analysis
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)

coefficients = pd.DataFrame({
    'Feature': X_train.columns,
    'Coefficient': lr.coef_[0]
}).sort_values(by='Coefficient', ascending=False)

print(coefficients)

                           Feature  Coefficient
15           LengthOfCreditHistory     0.024466
3                       Experience     0.011088
0                              Age     0.005874
20                   MonthlyIncome     0.001274
31           EducationLevel_Master     0.000704
43            CreditScoreBand_Good     0.000494
29        EducationLevel_Doctorate     0.000432
44       CreditScoreBand_Very Good     0.000283
28         EducationLevel_Bachelor     0.000231
26  EmploymentStatus_Self-Employed     0.000100
36         HomeOwnershipStatus_Own     0.000046
39           LoanPurpose_Education     0.000041
23                        NetWorth     0.000005
18                     TotalAssets     0.000003
16           SavingsAccountBalance     0.000002
19                TotalLiabilities    -0.000004
1                     AnnualIncome    -0.000025
17          CheckingAccountBalance    -0.000040
33            MaritalStatus_Single    -0.000043
40                LoanPurpose_Home    -0.000066
41               LoanPurpose_Other    -0.000072
34           MaritalStatus_Widowed    -0.000077
8        CreditCardUtilizationRate    -0.000101
11               DebtToIncomeRatio    -0.000106
38  LoanPurpose_Debt Consolidation    -0.000135
24                BaseInterestRate    -0.000147
4                       LoanAmount    -0.000172
32           MaritalStatus_Married    -0.000176
21      UtilityBillsPaymentHistory    -0.000218
35       HomeOwnershipStatus_Other    -0.000225
27     EmploymentStatus_Unemployed    -0.000293
25          TotalDebtToIncomeRatio    -0.000313
10         NumberOfCreditInquiries    -0.000361
6               NumberOfDependents    -0.000401
37        HomeOwnershipStatus_Rent    -0.000494
12               BankruptcyHistory    -0.000576
13            PreviousLoanDefaults    -0.000705
9          NumberOfOpenCreditLines    -0.000756
42            CreditScoreBand_Fair    -0.000920
30      EducationLevel_High School    -0.001283
22                       JobTenure    -0.001305
14                  PaymentHistory    -0.001561
2                      CreditScore    -0.002651
7              MonthlyDebtPayments    -0.002871
5                     LoanDuration    -0.027048

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
#Feature Importance
pd.DataFrame({
    'Feature': X_train.columns,
    'Importance': rf.feature_importances_
}).sort_values(by='Importance', ascending=False)

                           Feature  Importance
25          TotalDebtToIncomeRatio    0.280223
20                   MonthlyIncome    0.230644
1                     AnnualIncome    0.206885
24                BaseInterestRate    0.053337
4                       LoanAmount    0.051399
23                        NetWorth    0.033916
18                     TotalAssets    0.032302
5                     LoanDuration    0.018432
15           LengthOfCreditHistory    0.012019
0                              Age    0.009593
30      EducationLevel_High School    0.007532
2                      CreditScore    0.007475
3                       Experience    0.006628
7              MonthlyDebtPayments    0.005881
12               BankruptcyHistory    0.004351
19                TotalLiabilities    0.003442
16           SavingsAccountBalance    0.003295
11               DebtToIncomeRatio    0.003183
31           EducationLevel_Master    0.003007
21      UtilityBillsPaymentHistory    0.003006
17          CheckingAccountBalance    0.002876
8        CreditCardUtilizationRate    0.002796
13            PreviousLoanDefaults    0.002562
14                  PaymentHistory    0.002527
29        EducationLevel_Doctorate    0.001893
22                       JobTenure    0.001375
42            CreditScoreBand_Fair    0.001258
9          NumberOfOpenCreditLines    0.001135
6               NumberOfDependents    0.001037
10         NumberOfCreditInquiries    0.000960
43            CreditScoreBand_Good    0.000605
35       HomeOwnershipStatus_Other    0.000562
27     EmploymentStatus_Unemployed    0.000525
37        HomeOwnershipStatus_Rent    0.000521
44       CreditScoreBand_Very Good    0.000355
32           MaritalStatus_Married    0.000351
28         EducationLevel_Bachelor    0.000343
36         HomeOwnershipStatus_Own    0.000294
33            MaritalStatus_Single    0.000239
39           LoanPurpose_Education    0.000233
38  LoanPurpose_Debt Consolidation    0.000233
40                LoanPurpose_Home    0.000230
34           MaritalStatus_Widowed    0.000207
41               LoanPurpose_Other    0.000174
26  EmploymentStatus_Self-Employed    0.000158